header{
    /* display:flex;
    justify-content: space-between; */
    border-left:0px;
    border-right:0px;
    border-top:0px;
    border-bottom:1px;
    background-color: rgb(65, 60, 170);    
    border-color:black;
    border-style:solid;
    margin-bottom:5px;
    max-width:100%;
}
.headercontainer{
    max-width:1200px;
    display:flex;   
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}

.navclass{
    display:flex;   
    padding:5px;
    margin-left: 10px;
}
.navclassright{
    display:flex;   
    padding:5px;
    margin-left: 10px;
}
.navclassitems{    
    color:white;
    text-decoration: none;      
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;    
    padding-top:5px;
}
.navclassitems:not(:last-child)::after {
    content: "|";
    margin: 4px;  
    color: white;  
}
.navclassitems:hover {
    text-decoration: underline;
    /* color:blue; */
}



.qwirtyclass{
    color:rgb(65, 60, 170);
    padding-left: 25px;
    font-size: 20pt;
    margin-right:25px;
    margin-top: -5px;        
}

.searchrow{
    display:flex;        
    height:26px;  
    width:100%;
    align-items: stretch;   
    margin-bottom:20px;
    margin-top:20px;
    background-color: rgb(230, 230, 230);
    max-width:1200px;
    margin-left: auto;
    margin-right: auto;
}
.search-input{        
    flex:1;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid blue;
}
.search-btn {
    padding: 0;
    box-sizing: border-box;
    margin-right:10px;
    border: none;
    border-bottom: 1px solid blue;
}
.finance{
    color:white;
    background-color: red;
    font-size: 12pt;
    line-height: 20px;
    height: 23px;
    /* padding:5px */
    padding-left:8px;
    padding-right:8px;
    padding-top:3px;
}
.finance:hover{
    text-decoration: underline;
    cursor: pointer;
}




html, body {
    height: 100%;
}

body{
    display: flex;
    flex-direction: column; 
    margin:0;
    background-color: rgb(230, 230, 230);

}

main{
    background-color: rgb(230, 230, 230);
    display:flex;
    /* justify-content: space-between;   */
    /* gap:1rem; */
    flex-grow:1;    
    max-width:1200px;
    margin-left: auto;
    margin-right: auto;    
}




h1 {
    margin-top: 0;
}



aside ul{
    margin-top: 5px;    
    /* list-style: none; */
    display:flex;
    flex-direction: column;
    gap: 4px;
    padding-left: 1rem;    
    width:160px;
    margin-top:0;
}

aside li{
    background-color:rgb(65, 60, 170);
    color:white;    
    padding:5px;
    width: 175px;
    font-size: 10pt;
    text-transform: uppercase; 
    list-style: none;
}

aside li:hover {
    background-color: rgb(32, 28, 108);
    cursor: pointer;
}




.productgrid{    
    margin-top: 0;
    flex-grow:1;    
}
.productgrid ul{
    display:grid;    
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap:1rem;
    margin:0;
}
.product{
    list-style: none;
    /* background-color: red; */    
}
.product img {
    margin:0;
    width: 100%;
    height: 160px;     
    object-fit: cover;
}

.pclass1{
    background-color: rgb(65, 60, 170);
    color:white;
    padding:8px;
    font-size: 15pt;
    margin-top:0;
    margin-bottom:0;
}

.price-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(65, 60, 170);
    color:white;
    padding:7px;
    margin-bottom:0;
}
.cart-btn:hover{
    cursor: pointer;
    background-color: rgb(65, 60, 170);
    border-width: 1px;
    border-style: solid;
    border-color: black;
}
.cart-btn{
    background-color:rgb(32, 28, 108);
    border:none;
    box-shadow:none;
    border-radius: 80%;
    height: 30px;
}


.hamburger{
    display: none;
}

@media (max-width: 600px) {

    main {
        flex-direction: column;
        margin:0;
        max-width: 100%;
        margin-left: 5px;
        margin-right:5px;
    }
    .searchrow{
        flex-direction: row;
        flex-wrap: wrap;
        height: auto;       
        /* gap: 10px; */
        align-items: stretch;
    }
    .qwirtyclass{
        text-align:center;
        margin:0;
        margin-top:-15px;
        width:100%;
        margin-bottom:10px
    }
    .search-input{
        flex: 1;
        margin-right:0px;
        margin-left:10px;
        min-width:0;
        height:32px;        
    }
    .search-btn{
        margin-right:10px;
        margin-left: 0px;
        
    }
    .finance{
        margin-top:10px;
        margin-left: 10px;
        margin-right:10px; 
        width:100%;
        text-align: center;
    }

    aside {
        width: 100%;
    }
    aside ul{
        width:auto;
        margin-left: 5px;
        margin-right:5px;
        padding-left:0;
    }
    aside li{
        width:100%;
        box-sizing:border-box;
    }
    .productgrid ul{
        margin-left:5px;
        margin-right:5px;
        padding-left:0;
    }
    .hamburger{
        display: block;
        color: white;
        cursor: pointer;
        margin-right:10px;
        margin-top:3px;
    }

    .navclassright{
        display: none;
    }
}




